@model CapaDominio.entProveedor

@{
    ViewBag.Title = "Editar";
    Layout = "~/Views/masterAlmacen.cshtml";
}

</br>
</br>

<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Editar Proveedor</h4>
            </div>
            <!-- .panel-heading -->
            <div class="panel-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <hr />
                        @Html.ValidationSummary(true)
                        <div class="form-group">
                            @Html.LabelFor(model => model.nombre, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.nombre, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.nombre)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.razonSocial, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.razonSocial, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.razonSocial)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.ruc, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.ruc, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ruc)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.descripcion, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.descripcion, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.descripcion)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.email, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.email, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.email)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.telefono, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.telefono, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.telefono)
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Guardar" class="btn btn-outline btn-primary" />
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="panel-footer">
                <form method="get" action="IndexMantProv">
                    <input type="submit" value="Regresar a Opciones" class="btn btn-outline btn-primary" />
                </form>
            </div>
            <!-- .panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
