@model CapaDominio.entProveedor

@{
    ViewBag.Title = "Eliminar";
    Layout = "~/Views/masterAlmacen.cshtml";
}

</br>
</br>

<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Editar Proveedor</h4>
            </div>
            <!-- .panel-heading -->
            <div class="panel-body">
                <h5>¿Está seguro de eliminar este proveedor del sistema?</h5>
                <div>
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.nombre)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.nombre)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.ruc)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ruc)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.descripcion)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.descripcion)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.telefono)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.telefono)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.email)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.email)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.razonSocial)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.razonSocial)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.idProveedor)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.idProveedor)
                        </dd>

                    </dl>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-actions no-color">
                            <input type="submit" value="Eliminar" class="btn btn-outline btn-primary" />
                        </div>
                    }
                </div>
            </div>
            <div class="panel-footer">
                <form method="get" action="IndexMantProv">
                    <input type="submit" value="Regresar a Opciones" class="btn btn-outline btn-primary" />
                </form>
            </div>
            <!-- .panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>