@model CapaDominio.entProveedor

@{
    ViewBag.Title = "Eliminar";
    Layout = "~/Views/masterAlmacen.cshtml";
}

</br>
</br>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Eliminar Proveedor</h4>
            </div>
            <!-- .panel-heading -->
            <div class="panel-body">
                <h5>¿Está seguro de eliminar este proveedor del sistema?</h5>
                <div>
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            <p class="control-label col-md-2" align="right"><strong>Nombre:</strong></p>
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.nombre)
                        </dd>

                        <dt>
                            <p class="control-label col-md-2" align="right"><strong>Razón Social:</strong></p>
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.razonSocial)
                        </dd>

                        <dt>
                            <p class="control-label col-md-2" align="right"><strong>RUC:</strong></p>
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ruc)
                        </dd>

                        <dt>
                            <p class="control-label col-md-2" align="right"><strong>Descripción:</strong></p>
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.descripcion)
                        </dd>

                        <dt>
                            <p class="control-label col-md-2" align="right"><strong>E-mail:</strong></p>
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.email)
                        </dd>

                        <dt>
                            <p class="control-label col-md-2" align="right"><strong>Teléfono:</strong></p>
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.telefono)
                        </dd>
                    </dl>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-actions no-color">
                            <div class="col-md-10">
                                <input type="submit" value="Eliminar" class="btn btn-outline btn-primary" />
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="panel-footer">
                <form method="get" action="IndexMantProv">
                    <input type="submit" value="Regresar a Opciones" class="btn btn-outline btn-primary" />
                </form>
            </div>
            <!-- .panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>